name: 27119_deploy

env:
    DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
    DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
    REPONAME: ${{ secrets.REPO_NAME }}
    
on:
  workflow_run:
    workflows: ["27119_test"]
    types:
      - completed

jobs:
    deploy:
      runs-on: ubuntu-latest
      steps:
        - name: Checkout repozitorija
          uses: actions/checkout@v4

        - name: Prijava v Docker
          run: |
            docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD

        - name: Trenutni Äas
          id: datum
          #run: echo "::set-output name=date::$(date +'%Y-%m-%d--%M-%S')"
          run: echo "date=$(date +'%Y-%m-%d--%M-%S')" >> "$GITHUB_ENV"

        - name: Zgradi docker sliko
          run: |
            echo ${{ steps.datum.outputs.date }}
            echo "docker build . --file Dockerfile --tag $REPONAME:$date"
            docker build . --file Dockerfile --tag $REPONAME:$date

        - name: Potisni docker sliko
          run: |
            docker push $REPONAME:$date